*{
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0 auto;

}

header {
    background-image: url('https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1061&q=80');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center ;
    background-size: cover;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    font-size: 50px;
}

b{
    font-size: 80px;
    text-align: center;
}
button{
    background: #FEC811;
    color: white;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 20px;
    font-weight: bold;
    border: none;
    height: 4rem;
    width: 12rem;
    border-radius: .25rem;
    
}
.container{
    display: none;
}

.headercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 15%;
}
.navlist{
    display: flex;
    color: white;
}
.dropdown{
    display: flex;
    color: white; 
    
}
.container{
    background: #212528;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    align-items: center;
   
}
.menubutton{
    background: #FED030;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 6rem;
    height: 2.5rem;
    border-radius: 7px;
    display: none;
}
p{
   color:  #FED030;
   font-size: xx-large;
}

@media (max-width: 1000px) {
    nav {
        background: #212528;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0rem 3rem;
        align-items: center;
    }
    .navlist{
        display: none;
    }
    .menubutton{
        display: flex;
    }
}